<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Login</title>
    <link rel="stylesheet" href="/css/login-stylesheet.css" />
  </head>
  <body>
    <div class="login-container">
      <form class="login-form" method="POST" action="/api/validate">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" value="guest" />
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" value="123" />
        </div>

        <div style="text-align: right">
          <button type="submit">
            <span style="font-size: 24px">Login</span>
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
