input {
  height: 30px;
  font-size: 24px;
}

label {
  display: inline-block;
  text-align: right;
  width: 140px;
}

.login-container {
  background: #084c9e;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  font-size: x-large;
}
