.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-panel {
  background: yellowgreen;
  width: 80vw;
  height: 100px;
}

.uploaded-files-panel {
  width: 80vw;
  height: 80vh;
  background: slateblue;
}
